<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.creator.qweekdots">

    <uses-sdk tools:overrideLibrary="com.erikagtierrez.multiple_media_picker"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/qweekdots_launcher_alt"
        android:roundIcon="@mipmap/qweekdots_launcher_alt_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="q"
        android:fullBackupContent="true"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="true"
        tools:replace="android:icon,android:theme">

        <activity android:name="com.creator.qweekdots.snaps.gallery.SelectActivity" android:exported="false"/>
        <activity android:name="com.creator.qweekdots.snaps.filter.FilterActivity" android:exported="false" />
        <activity android:name="com.creator.qweekdots.snaps.gallery.MultiSelectActivity" android:exported="false"/>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:exported="false"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.AppCompat" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"
            tools:targetApi="eclair" />

        <activity android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:targetApi="cupcake">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".activity.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            tools:targetApi="cupcake">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:targetApi="cupcake" />

        <activity
            android:name=".activity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize"
            tools:targetApi="cupcake" />

        <activity android:name=".activity.ChatActivity"
            android:label="@string/qweekchat"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.MainActivity" />
        </activity>

        <activity android:name="com.creator.qweekdots.activity.RingSpaceActivity"
            android:label="@string/qweekchat"
            android:parentActivityName=".activity.ChatActivity"
            tools:targetApi="jelly_bean"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.ChatActivity" />
        </activity>

        <activity android:name="com.creator.qweekdots.activity.ChatUserActivity"
            android:label="@string/qweekchat"
            android:exported="true"
            android:parentActivityName=".activity.ChatActivity"
            tools:targetApi="jelly_bean"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.ChatActivity" />
        </activity>

        <activity android:name=".activity.ProfileActivity"
            android:label="@string/profile"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:parentActivityName=".activity.MainActivity"
            android:exported="true"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.MainActivity" />

        </activity>

        <activity android:name=".activity.StreamChatActivity"
            android:label="@string/qweekchat"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:parentActivityName=".activity.MainActivity"
            android:exported="true"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.MainActivity" />

        </activity>

        <activity android:name=".activity.SpaceActivity"
            android:label="@string/spaces"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".activity.MainActivity"
            android:exported="true"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.MainActivity" />

        </activity>

        <activity android:name=".activity.DropReactionsActivity"
            android:label="Reactions"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".activity.MainActivity"
            android:exported="false"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.MainActivity" />
        </activity>

        <activity android:name=".activity.SnapActivity"
            android:label="Snaps"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".activity.MainActivity"
            android:exported="false"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.MainActivity" />
        </activity>

        <activity android:name=".activity.QweekSnapActivity"
            android:label="Snaps"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".activity.MainActivity"
            android:exported="false"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.MainActivity" />
        </activity>

        <activity android:name=".activity.ReactionsActivity"
            android:label="Reactions"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".activity.MainActivity"
            android:exported="false"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.MainActivity" />
        </activity>

        <activity android:name=".activity.SearchReactionsActivity"
            android:label="Reactions"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".activity.MainActivity"
            android:exported="false"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.MainActivity" />
        </activity>

        <activity android:name=".activity.ActivityThemeOptions"
            android:label="@string/qweekchat"
            android:parentActivityName=".activity.ProfileActivity"
            android:exported="true"
            tools:targetApi="jelly_bean">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.creator.qweekdots.activity.ProfileActivity" />
        </activity>

        <activity android:name=".activity.DropPostActivity"
            android:hardwareAccelerated="true"
            android:label="Drop Post"
            android:parentActivityName=".activity.MainActivity"
            android:exported="false"
            tools:targetApi="q">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.MainActivity"/>
        </activity>

        <activity android:name=".activity.NewSpaceActivity"
            android:hardwareAccelerated="true"
            android:label="Space"
            android:parentActivityName=".activity.MainActivity"
            android:exported="true"
            tools:targetApi="q">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.MainActivity"/>
        </activity>

        <activity android:name=".activity.WebViewActivity"
            android:hardwareAccelerated="true"
            android:label="Browser"
            android:exported="true"
            android:parentActivityName=".activity.ProfileActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.creator.qweekdots.activity.ProfileActivity"/>
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".utils.ImagePicker"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nnf_provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value=""/>

        <meta-data android:name="com.onesignal.NotificationOpened.DEFAULT" android:value="DISABLE" />
        <meta-data android:name="com.onesignal.NotificationAccentColor.DEFAULT" android:value="#00d2ff" />

        <service
            android:name="com.creator.qweekdots.service.FCMIntentService"
            android:exported="true">
            <intent-filter>
                <!--<action android:name="com.google.firebase.iid.FirebaseInstanceId" />-->
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.onesignal.NotificationOpenedActivityHMS"
            android:exported="true"/>

        <receiver android:name="com.onesignal.GcmBroadcastReceiver"
            android:exported="true"/>

        <receiver android:name="com.onesignal.BootUpReceiver"
            android:exported="true"/>

        <receiver android:name="com.onesignal.UpgradeReceiver"
            android:exported="true"/>

        </application>
</manifest>
